/* Styles for exercise history page components */

#exerciseHistorySelect {
    width: 20%;
    height: 3vh;
    font-size: 2vh;
    margin-left: 5%;
    margin-top: 2vh;
  }
  
  #exerciseHistorySubmit {
    width: 8%;
    height: 3vh;
    margin-left: 1%;
    font-size: 2vh;
    background-color: #002907;
    color: white;
    border: 0px;
    transition: box-shadow 0.25s, background-color 0.25s;
  }
  
  #exerciseHistorySubmit:hover {
    background-color: #01400c;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
  }
  
  #noWorkoutHistoryText {
    font-size: 3vh;
    padding-top: 1vh;
    text-align: center;
  }
  
  .exerciseHistoryWidgetHeader {
    font-size: 2vh;
    padding-top: 2vh;
    margin-left: 2%;
  }
  
  .exerciseHistoryWidgetText {
    font-size: 1.5vh;
    margin-left: 2%;
  }